.root {
    -fx-background-color: #FFFFFF; /* White background */
}

.colonne {
    -fx-padding: 10px;
    -fx-background-color: #E4E4E4; /* Light gray for the columns */
    -fx-border-style: groove;
    -fx-border-color: #989898; /* Darker gray border */
    -fx-border-width: 2px;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}

.colonneTitre {
    -fx-fill: #000000; /* Black for the column titles */
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.tache {
    -fx-background-color: #ffffff; /* White for the tasks */
    -fx-text-fill: #000000; /* Black text for the tasks */
    -fx-alignment: center;
    -fx-background-radius: 10; /* Rounded corners */
    -fx-border-radius: 10;
}

.tache:hover {
    -fx-background-color: #a2a2a2; /* Gray on hover for the tasks */
}

.tacheText {
    -fx-fill: #000000; /* Black text for the task content */
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: transparent; /* Transparent background for the buttons */
    -fx-text-fill: #000000; /* black text */
    -fx-background-radius: 5; /* Slightly rounded */
}

.button:hover {
    -fx-cursor: hand; /* Hand cursor on hover */
}

.tacheListe {
    -fx-background-color: #afafaf; /* Dark gray for the tâches */
    -fx-text-fill: #000000; /* White text for the tâches */
    -fx-alignment: center;
    -fx-background-radius: 10; /* Rounded corners */
    -fx-border-radius: 10;
}

.tacheListe:hover {
    -fx-background-color: #606060; /* gray on hover for the tâches */
}

.buttonListe {
    -fx-alignment: center;
    -fx-background-color: #ffffff; /* white for the buttons */
    -fx-text-fill: #000000; /* black text */
    -fx-background-radius: 5; /* Slightly rounded */
}

.titreListe {
    -fx-fill: #FFFFFF; /* White text for the list titles */
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-background-color: #ffffff; /* white for the combo boxes */
    -fx-background-radius: 10; /* Rounded corners */
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.buttonColonne {
    -fx-padding: 10px;
    -fx-background-color: #E4E4E4; /* Light gray for the columns */
    -fx-border-style: groove;
    -fx-border-width: 2px;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}

.buttonTableau{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10; /* Coins arrondis */
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 2px;
}
.buttonTableau:hover{
    -fx-background-color: #868686;
}
.titreTableau {
    -fx-fill: #000000; /* Black for the tab title */
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.buttonColonne:hover {
    -fx-background-color: #D8D8D8; /* Darker gray border on hover for the columns */

}