.formulaire {
    -fx-background-color: #520052; /* Fond de la fenêtre en violet foncé */
}

.titre-formulaire {
    -fx-fill: white; /* Texte blanc pour les titres de colonnes */
}

.label-formulaire {
    -fx-text-fill: #AFB1B3; /* Texte gris clair */
}

.textfield-formulaire {
    -fx-text-fill: black; /* Texte noir pour le contenu des tâches */
    -fx-font-weight: bold;
}

.button-formulaire {
    -fx-background-color: #6a1b9a; /* Violet pour le fond */
    -fx-text-fill: white; /* Texte blanc */
    -fx-background-radius: 5; /* Légèrement arrondi */
}

.button-formulaire:hover {
    -fx-background-color: #8a2be2;
}

.hbBtn-formulaire {
    -fx-alignment: BOTTOM_RIGHT;
}



