.root {
    -fx-background-color: #520052; /* Fond de la fenêtre en violet foncé */
}

.colonne {
    -fx-padding: 10px;
    -fx-background-color: #6a1b9a; /* Violet plus foncé des colonnes */
    -fx-border-style: groove;
    -fx-border-color: #6a1b9a; /* Bordure violet foncé */
    -fx-border-width: 2px;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}

.colonneTitre {
    -fx-fill: white; /* Texte blanc pour les titres de colonnes */
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.tache {
    -fx-background-color: #8a2be2; /* Violet pour les tâches */
    -fx-text-fill: white; /* Texte blanc pour les tâches */
    -fx-alignment: center;
    -fx-background-radius: 10; /* Coins arrondis */
    -fx-border-radius: 10;
}

.tache:hover {
    -fx-background-color: #4a006c; /* Violet plus foncé au survol des tâches */
}

.tacheText {
    -fx-fill: white; /* Texte blanc pour le contenu des tâches */
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white; /* Texte blanc */
    -fx-background-radius: 5; /* Légèrement arrondi */
}

.tacheListe{
-fx-background-color: #8a2be2; /* Violet pour les tâches */
    -fx-text-fill: white; /* Texte blanc pour les tâches */
    -fx-alignment: center;
    -fx-background-radius: 10; /* Coins arrondis */
    -fx-border-radius: 10;
}
.tacheListe:hover {
    -fx-background-color: #781dc7; /* Violet plus foncé au survol des tâches */
}

.buttonListe{
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: white; /* Texte blanc */
    -fx-background-radius: 5; /* Légèrement arrondi */
}
.titreListe{
    -fx-fill: Black;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}
.combo-box{
    -fx-background-color: #8a2be2;
    -fx-background-radius: 10; /* Coins arrondis */
    -fx-border-radius: 10;
}